<div class="row justify-content-center mt-10">
  <div class="col-11 mb-2 mt-3">
    <div class="heading-color">
      <div class="conatainer mb-4">
        <h1>Placeholder for the Prescription</h1>

<div id="map"
      style="width: 100%; height: 40vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

</div>

      </div>
    </div>
  </div>
</div>





<style>
  /*.h1 {
    text-align: center
    color: rgb(5, 80, 251);
  }*/

.main-container {
  display: flex;
}

#map {
  height: 100vh;
}

.cards {
  flex-grow: 1;
}

</style>

