// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Genki color scheme
$primaryblue: rgb(13, 164, 200);
$buttonblue: rgb(13, 164, 200);
$primarygreen: rgb(36, 187, 143);
$primaryorange: rgb(255, 101, 30);
$backgroundgrey: rgb(247, 247, 247);
$primarygrey: rgb(147, 147, 147);
$genkiblue: #2497E3;

$oldprimaryblue: rgb(13, 164, 200);
$oldbuttonblue: rgb(5, 80, 251);
