.appointment-summary {
  font-weight: 100;
}

.circle-icon {
  padding: 8px;
  font-size: 24px;
  border-radius: 50%;
  background-color: $primaryblue;
  color: white;
}

#div-links {
  color: black;
}

a:active {
  text-decoration: none;
}

#div-links:active {
  text-decoration: none;
  background-color: $primaryorange;
  color: white;
}

#div-links:hover {
  text-decoration: none;
  background-color: $primaryorange;
  color: white;
  transition-duration: 2s;
}

.buy-now {
  background-color: $primaryorange;
  color: white;
  border-radius: 0px 0px 0px 16px;
}

.buy-now i {
  color: white;
}

.set-reminder {
  background-color: $buttonblue;
  color: white;
  border-radius: 0px 0px 16px 0px;
}

.set-reminder i {
  color: white;
}



