.appointment-card {
  width: 90%;
  border-radius: 12px !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  overflow: hidden !important;
  display: flex;
  z-index: 0 !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  text-decoration: none;
}

.appointment-card-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.appointment-card-2 img {
  width: 80px;
}

.appointment-card-1 img {
  width: 32px;
  margin: 16px;
}

.appointment-card-1 {
  font-size: 14px;
}

.appointment-card-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.appointment-card-dt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.appointment-card-4 {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.appointment-card-4 h6 {
  text-align: center;
  margin-bottom: 0px;
  margin-top:16px;
}

.appointment-card-4 p {
  color: $primaryorange;
  text-align: center;
  margin-bottom: 0px;
  margin-top:16px;
}
