.appointment-card-2 img {
  width: 80px;
}

.appointment-card-1 img {
  width: 32px;
  margin: 16px;
}

.appointment-card-1 {
  font-size: 14px;
  width: 100%;
}

.appointment-card-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.appointment-card-dt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.appointment-card-dt-md {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid rgb(222, 226, 230);
  border-right: 1px solid rgb(222, 226, 230);
  padding: 8px;
}

.appointment-card-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.appointment-card-4 h6 {
  text-align: center;
  margin-bottom: 0px;
  margin-top:16px;
}

.appointment-card-4 p {
  color: $primaryorange;
  text-align: center;
  margin-bottom: 0px;
  margin-top:16px;
}
