<div class="color1">
    <div class="row justify-content-center mt-10">
      <div class="col-11 mb-2 mt-3">
        <div class="heading-color">



          <div class="conatainer mb-4">
            <h2>Manage your prescriptions</h2>
          </div>
        </div>

        <div class="subheading">
            <p>Active Prescriptions</p>
          </div>

  <!-- div class="container doc-card mb-5">
        <div>
          <p><b><i>NHS</i></b> doctor</p>
          <p>Dr. <%#= doctor.user.first_name %> <%#= doctor.user.last_name %></p>
          <p><%#= doctor.specialty %></p>
  </div> -->


<% @prescriptions.each do |prescription| %>
  <div class="prescription-card">
    <div class="topcard">
      <%= prescription.frequency %>
    </div>
    <div class="middlecard">
    <b><%= prescription.name %></b>
      <p><%= prescription.dose %></p>
    </div>
    <div class="bottomcard">
      <%= prescription.duration %>
    </div>
  </div>
<% end %>

      </div>
    </div>
</div>

<style>
.prescription-card .topcard {
  border: 1px solid lightgrey;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: none;
  padding-left: 16px;
  margin-top: 12px;
  padding-top: 8px;

}

.prescription-card .bottomcard {
  border: 1px solid lightgrey;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: none;
  padding-left: 16px;
  margin-top: 12px;
  padding-bottom: 12px;

}

.prescription-card .middlecard {
  border: 1px solid lightgrey;
  padding-left: 16px;
  margin-top: 12px;
  padding-top: 16px;

}
</style>
