<div class="form-container">

  <h4>Journal</h4>
  <i class="fas fa-lungs"></i>

<!-- passing symptom id to params. Please do not delete -->
<!--   <%# current_user.symptoms.each do |symptom| %>
    <%# simple_form_for @symptom_check do |f| %>
      <%#= f.input :rating, label: 'How is your cough today?', as: :range, input_html: { min: 1, max: 5, id: 'rating-slider' }, required: false %>
      <p id='slider-text'></p>
      <%#= f.input :description, label: 'Any other comments?' %>
      <%#= f.hidden_field :sid, value: symptom.id %>
      <%#= f.button :submit, value: 'Submit', class: 'btn-ghost-small' %>
    <%# end %>
  <%# end %> -->

  <%= simple_form_for @symptom_check do |f| %>
  <%= f.input :rating, label: 'How is your cough today?', as: :range, input_html: { min: 1, max: 5, id: 'rating-slider' }, required: false %>
  <p id='slider-text'></p>
  <%= f.input :description, label: 'Any other comments?' %>
  <%= f.button :submit, value: 'Submit', class: 'btn-ghost-small' %>
  <% end %>
</div>



