<div class="color">
  <div class="container d-flex align-items-between">
    <div class="row justify-content-center mt-10">
      <div class="col-11 mb-2 mt-5">

        <h2 class="headers">Healthcare in your pocket</h2>

        <br>

      </div>

      <div class="landingpage-details">
        <p class="discreption-text">Coordinate your appointments, manage referrals and get prescriptions delivered </p>
        <div class="col-7 mx-auto">
          <br>
          <br>
          <br>
          <br>


          <%= link_to "Register", new_user_registration_path, class: "btn btn-ghost"%>
           <br>
            <br>
          <%= link_to "Log In", new_user_session_path, class: "btn btn-ghost mb-4"%>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

