<div class="container d-flex align-items-between">
  <div class="row justify-content-center mt-10">
    <div class="col-7 mb-2 mt-5">

  <h3>Healthcare in your pocket</h3>

  <br>

  <%= image_tag "registerphoto1.png", alt: "home picture", class: "img_home"%>
    <br>



    </div>

  <p class="discreption-text">Coordinate your appointments, manage referrals and get prescriptions delivered </p>

      <div class="col-7 mt-8">
        <br>
        <br>


<%= link_to "Register", new_user_registration_path, class: "btn btn-ghost"%>
 <br>
  <br>
<%= link_to "Log In", new_user_session_path, class: "btn btn-ghost"%>




</div>
  </div>
      </div>



