<div class="container d-flex align-items-between">
  <div class="row justify-content-center mt-10">
    <div class="col-7 mb-2 mt-5">
<!-- <br>
<br>
<br>
<br>
<br> -->
<br>
<br>
  <h3>Healthcare in your pocket</h3>
  <br>
  <br>
  <br>

  <%= image_tag "home screen photo.png", alt: "home picture", class: "img_home"%>
    <br>
    <br>


    </div>

  <p class="discreption-text">Coordinate your appointments, mange referrals and get prescriptions delivered </p>

      <div class="col-7 mt-8">
        <br>
        <br>




  <a class="btn btn-ghost" href="#">Register</a>
  <br>
  <br>

  <a class="btn btn-ghost" href="#">Login</a>

</div>
  </div>
      </div>



