<div class="container">
  <div class="row py-4">
    <div class="col">
      <div class="header-color mb-5">
        <h2>Checkout summary</h2>
      </div>
      <p>Purchase of <strong><%= @order.prescription.name %></strong> for <strong><%= humanized_money_with_symbol @order.amount %></strong></p>
      <button id="pay" class="btn btn-ghost mt-5">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>

<style>
  .header-color {
    color: rgb(5, 80, 251);
  }
</style>
