
<div class="form-container">

  <h4>New Appointment Summary</h4>

  <%= simple_form_for [@appointment, @appointment_summary] do |f| %>
  <%= f.input :content %>
  <%= f.input :plan %>
  <%= f.submit class: 'btn-ghost' %>
  <% end %>
</div>
