
<div class="form-container">

  <h4>Journal</h4>
  <i class="fas fa-lungs"></i>

  <%= simple_form_for [@appointment, @appointment_summary] do |f| %>
  <%= f.input :content %>
  <%= f.input :plan %>
  <%= f.button :submit, value: 'Submit', class: 'btn-ghost' %>
  <% end %>
</div>
