.dashboard-card {
  width: 90%;
  margin: 8px auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
  background-color: white;
}

.dashboard-card.new-prescription {
  width: 90%;
  margin: 8px auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
  background-color: white;
}

.prescription-card {
  width: 90%;
  margin: 16px 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  border-radius: 16px;
  // text-align: center;
  font-size: 16px;
  // padding: 16px;
  background-color: white;
  width: 100%;
}

.slider-card-graph {
  width: 80%;
  margin: 16px auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
  padding: 24px;
}

.btn-ghost-small {
  color: $primaryblue;
  border: 1px solid $primaryblue;
  padding: 4px 12px;
  border-radius: 50px;
  font-weight: regular;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 40%;
  text-align: center;
}

.btn-ghost-small:hover {
  opacity: 1;
  background-color: white;
}

#symptom-chart {
  margin-bottom: 75px;
}

.summary-card {
  color: black;
  text-decoration: none;
  width: 92%;
  border: 2px #42A6CA solid;
  border-radius: 50px;
  align-content: center;
  margin-bottom: 16px;
  margin-left: 16px;

}

.unread-summary-card {
  color: black;
  text-decoration: none;
  width: 92%;
  border: 2px $primaryorange solid;
  border-radius: 50px;
  align-content: center;
  margin-bottom: 16px;
  margin-left: 16px;

}

.genki-card {
  border-radius: 16px;
  margin-bottom: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
}

.first-div {
  height: 45px;
}

.first-div img {
  position: relative;
  top: 10px;
}

.genki-name {
  position: relative;
  bottom: 45px;
  left: 70px;
  font-size: 16px;
  width: 290px;
}

.genki-name p {
  margin: 0px;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.second-div {

}

.genki-specialty {
  position: relative;
  bottom: 10px;
  left: 70px;
  font-size: 14px;
  width: 250px;
}

.genki-description {
  position: relative;
  font-size: 12px;
  bottom: 10px;
  margin-bottom: 0;
}

.prescription-check-card {
  width: 90%;
  margin: 8px auto;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
  background-color: white;

}

.prescription-check-card .btn {
  background-color: white;
  border: 1px $primaryblue solid;
  margin-bottom: 8px;
  border-radius: 16px;
  color: $primaryblue;
}



