.dashboard-card {
  width: 90%;
  margin: 8px auto;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  background-color: white;
  margin-top: 24px;
}

.prescription-card {
  width: 90%;
  margin: 16px 0;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  border-radius: 16px;
  // text-align: center;
  font-size: 16px;
  // padding: 16px;
  background-color: white;
  width: 100%;
}

.slider-card-graph {
  width: 80%;
  margin: 16px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
  padding: 24px;
}

.btn-ghost-small {
  color: $primaryblue;
  border: 1px solid $primaryblue;
  padding: 4px 12px;
  border-radius: 50px;
  font-weight: regular;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 40%;
  text-align: center;
}

.btn-ghost-small:hover {
  opacity: 1;
  background-color: white;
}

#symptom-chart {
  margin-bottom: 75px;
}

.summary-card {
  color: black;
  text-decoration: none;
  width: 95%;
  border: 2px #42A6CA solid;
  border-radius: 50px;
  align-content: center;
  margin-bottom: 16px;
}

.unread-summary-card {
  color: black;
  text-decoration: none;
  width: 95%;
  border: 2px $primaryorange solid;
  border-radius: 50px;
  align-content: center;
  margin-bottom: 16px;
}
