.dashboard-card {
  width: 80%;
  margin: 16px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
  padding: 16px;
}

.slider-card-graph {
  width: 80%;
  margin: 16px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
  padding: 24px;
}

.btn-ghost-small {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 4px 12px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 40%;
  text-align: center;
}

.btn-ghost-small:hover {
  opacity: 1;
  background-color: white;
}

#symptom-chart {
  margin-bottom: 75px;
}
