.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0px 8px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 32px;
  padding: 8px 16px;
  display: inline-block;
}

.footer-links a:hover {
  opacity: 1;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
