.headings {
  text-align: center;


}

body {
  background-color: white;
}

.img_home {
  width:250px;
  padding-right: 48px;

}

.col-7 {
  text-align: center;
  // background-color: lightblue;

}

.discreption-text {
  text-align: center;
  padding: 2px;
}

.background-color {
  background-color: lightblue;
}


.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 100%;
  text-align: center;
}

.btn-ghost:hover {
  opacity: 1;
  background-color: white;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
