.color {
  background-color: rgb(246, 155, 150);
  background-image: asset-url(registerphoto1);
  background-size: contain;
  height: calc(100vh - 130px) ;
  position: relative;
  text-align: center;
}

.center {
  text-align: center;
}


.headings {
  text-align: center;
}

.headers {
  text-align: center
}


// body {
//   background-color: rgb(246, 155, 150);
//   // background-image: url(registerphoto.png);
//   // object-fit: cover;
// }

.img_home {
  // width:300px;
  // padding-right: 85px;
  // height: 500px;
  // width: 150%;
  width: 100%;
  object-fit: cover;
  height: 400px;
  // background-color: rgb(246, 155, 150);

 }

.col-7 {
  text-align: center;
  // background-color: lightblue;

}

.landingpage-details {
  position: absolute;
  top: 55%;
  left: 0;
  text-align: center;

}

.discreption-text {
  text-align: center;
  margin: 20px;
  // padding: 2px;
  // text-align: right;
}

.background-color {
  background-color: lightblue;
}



.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
