.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#title {
  color: $primaryblue;
}

#navbarDropdown {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}
