.notification1 {
  background-color: red;
  color: white;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  position: relative;
  bottom: 32px;
  left: 80px;
}

.notification2 {
  background-color: red;
  color: white;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  position: relative;
  bottom: 32px;
  left: 98px;
}

.notification3 {
  background-color: red;
  color: white;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  position: relative;
  bottom: 32px;
  left: 105px;
}
