.tab .notification {
  background-color: red;
  color: white;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: 0;
}
